<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/ATILLA.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>ATILLA</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <div class="content">
    <br/><br/><br>
    <div class="centerbt">
    <button class="btn-grad" th:attr="onclick=|biencopie('${mailinglist}')|">
        Copier la mailing Liste 
    </button>
    </div>
    
   
    
    <br><br><br>
    <div>
        <p class="titretab">Liste des cotisants</p>
    </div>
    <table class="tableau">
        <thead>
            
            <tr>
                <th> Nom </th>
                <th> Prénom </th>
                <th> Genre </th>
                <th> Date de naissance </th>
                <th> Promo </th>
                <th> Campus </th>
                <th> Email </th>
                <th> Mailinglist </th>
                <th> Cotisant </th>
                <th> Editer </th>
                <th> Supprimer </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="adherant,iterStat : ${adherants}" th:class="${iterStat.odd}? 'odd' : 'even'">
                <td th:text="${adherant.nom}"></td>
                <td th:text="${adherant.prenom}"></td>
                <td th:text="${adherant.genre}"></td>
                <td th:text="${adherant.dateDeNaissance}"></td>
                <td th:text="${adherant.promo}"></td>
                <td th:text="${adherant.campus}"></td>
                <td th:text="${adherant.email}"></td>
                <td th:if="${adherant.mailingListe } == true">oui</td>
                <td th:if="${adherant.mailingListe } == false">non</td>
                <td th:if="${adherant.cotisant == 0}" >Non cotisant</td>
                <td th:if="${adherant.cotisant == 1}" >Cotisant</td>
                <td th:if="${adherant.cotisant == 2}" >En cours</td>
                
                <td class="edit"><img src="/images/edit.png" height="40px" width="40px" alt=""></td>
                <td class="suppr"><img src="/images/croix.png" height="40px" width="40px" alt=""></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div th:replace="miseEnForme/footer :: footer"></div>
</body>