<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/ATILLA.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>ATILLA</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <div class="content">
        <br><br><br>
    <table class="tableau">
        <thead>
            <tr>
                <th> Nom </th>
                <th> Prénom </th>
                <th> Genre </th>
                <th> Date de naissance </th>
                <th> Promo </th>
                <th> Campus </th>
                <th> Email </th>
                <th> Valider </th>
                <th> Refuser </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="adherant,iterStat : ${adherants}" th:class="${iterStat.odd}? 'odd' : 'even'">
                <td th:text="${adherant.nom}"></td>
                <td th:text="${adherant.prenom}"></td>
                <td th:text="${adherant.genre}"></td>
                <td th:text="${adherant.dateDeNaissance}"></td>
                <td th:text="${adherant.promo}"></td>
                <td th:text="${adherant.campus}"></td>
                <td th:text="${adherant.email}"></td>
                <td class="edit"><img src="/images/coche.png" height="40px" width="40px" alt="" th:attr="href=|unvalidate/${adherant.id}|"></td>
                <td class="suppr"><img src="/images/croix.png" height="40px" width="40px" alt="" th:attr="href=|validate/${adherant.id}|"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div th:replace="miseEnForme/footer :: footer"></div>
</body>