<div class="header" th:fragment="header">
    <img class="headerLogo" src="../images/logos/logoATILLA.png" onclick="location.href='/'"/>
    <div class="headerButtons">
        <!--<a class="headerButton" sec:authorize="hasRole('ROLE_ADMIN')" href='/admin/adherants'>-->
        <a class="headerButton"  href='/admin/adherants'> adherants</a>
        <a class="headerButton"  href='/admin/cotisants'>Cotisants</a> 
        <a class="headerButton" href="/form">Inscription</a> 
        <a class="headerButton" href="/tresorie/validate"> Valider Cotisants </a>
    </div>
    <div class="headerCompte">
        connexion
    </div>
</div>